.bg-body-tertiary{
    background-color: rgb(255, 164, 177) !important;
}
.nav-link{
    color: rgb(90, 50, 18);
}
.nav-link:hover{
    color: rgb(255, 215, 170);
}
.mm{
    text-align: center;
    margin-top: 15px;
    color: rgb(167, 121, 84);
}
.cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

}
.card-text{
    color: rgb(90, 50, 18);
};

.card{
;
}